<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Sofia+Sans+Semi+Condensed:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    
    
    <title>Pagina de inicio</title>

</head>
<body>
  <header class="header">
    <div class="header_1">
        <div class="header-left">
            <div class="callcenter">
                <a href="#"><i class="fa-solid fa-headset"></i></a>
                <h2 class="telefono">301 2222222</h2>
            </div>
            <div class="location">
                <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                <h2 class="texto-h2">Buenos Aires</h2>
            </div>
        </div>
        <div class="contenedorlogo">
            <a href="#default" class="logo">RoyalCar</a>
        </div>
        <div class="header-right">
            <a href="#home" class="fa-solid fa-house"></a>
            <a href="#facebook" class="fa-brands fa-facebook-f"></a>
            <a href="#instagram" class="fa-brands fa-instagram"></a>
            <a href="#twitter" class="fa-brands fa-twitter"></a>
            <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
            <a href="#youtube" class="fa-brands fa-youtube"></a>
        </div>
    </div>


    <div class="header_2"> 
       <!-- <div class="logo_2">
            <img src="../images/logo.png" alt="logo">
        </div> -->
        <div class="navbar">
            <a href="index.html" class= "home" title="Home">Home</a>
            <a href="#facebook" class="">Renta</a>
            <a href="#instagram" class="">Compra</a>
            <a href="#twitter" class="">Vende</a>
            <a href="register.html" class="">Contáctanos</a>
            <a href="login.html" class="">Ingresar</a>
        </div>
    </div> 
</header>
          
            
              <div class="wrapper">
                <div class="carousel" tabindex="0">
                  <div class="slide">
                    <a href="#item-4">Slide 4</a>
                    <img id="item-1" src="/images/fondo.png" alt="">
                    <a href="#item-2">Slide 2</a>
                  </div>
                  <div class="slide">
                    <a href="#item-1">Slide 1</a>
                    <img id="item-2" src="/images/lambo.jpg" alt="">
                    <a href="#item-3">Slide 3</a>
                  </div>
                  <div class="slide">
                    <a href="#item-2">Slide 2</a>
                    <img id="item-3" src="/images/bugatti.jpg" alt="">
                    <a href="#item-4">Slide 4</a>
                  </div>
                  <div class="slide">
                    <a href="#item-3">Slide 3</a>
                    <img id="item-4" src="/images/lamborghini-.jpg" alt="">
                    <a href="#item-1">Slide 1</a>
                  </div>
                </div>
                <nav class="carousel__nav">
                  <ul>
                    <li>
                      <a href="#item-1" aria-label="Item 1">
                      <svg viewBox="0 0 10 10" width="1em">
                        <circle cx="5" cy="5" r="5" fill="#fff" />
                      </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#item-2" aria-label="Item 2">
                      <svg viewBox="0 0 10 10" width="1em">
                        <circle cx="5" cy="5" r="5" fill="#fff" />
                      </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#item-3" aria-label="Item 3">
                      <svg viewBox="0 0 10 10" width="1em">
                        <circle cx="5" cy="5" r="5" fill="#fff" />
                      </svg>
                      </a>
                    </li>
                    <li>
                      <a href="#item-4" aria-label="Item 4">
                      <svg viewBox="0 0 10 10" width="1em">
                        <circle cx="5" cy="5" r="5" fill="#fff" />
                      </svg>
                      </a>
                    </li>
                  </ul>
                </nav>
                </div>   
              
        

            <div class="motor-busqueda">
              
              <form action=" " class="formulario">
                  <div class="caja1form">
                    <div class="form">
                      <input class="input" placeholder="Marca" required="" type="text">
                      <span class="input-border"></span>
                    </div>
                  </div>
                <div class="caja2form">
                  <div class="form">
                    <input class="input" placeholder="Modelo" required="" type="text">
                    <span class="input-border"></span>
                  </div>
                 </div>
                <div class="caja3form">
                  <div class="form">
                    <input class="input" placeholder="Año" required="" type="text">
                    <span class="input-border"></span>
                  </div>
                </div>
                <div class="button-search">
                  <button>
                    Buscar
                </button>
                </div>
            </form>
            </div>  
            
            
        
          
            <h2 class="nosotros"> Nuestros servicios</h2>
            <section class="servicios">
                <div class="card">
                    <div class="card2"> 
                      COMPRAR
                      <a href="#"></a>
                    </div>
                  </div>
    
                  <div class="card">
                    <div class="card2">
                     RENTAR
                     <a href="#"></a>
                    </div>
                  </div>

            </section>
            <h2 class="nosotros2"> Nosotros</h2> 
            
          <div class="descripcion-nosotros">
          
            <p> Somos una agencia boutique de autos de lujo, ofrecemos asesoramiento personalizado ajustado a cada cliente. Nuestro equipo profesional brinda la mejor experiencia del consumidor y exclusividad, para aquellas personas que están buscando comprar o alquilar un vehículo de primer nivel con buenas prestaciones.</p>
          </div>
            
          <div class="banner">
          
            <img src="/images/banner.png" alt="">
          </div>

          


          </main>
          <footer class="footer">
            <div class="footer-left">
                <p>Lorem ipsum dolor sit ameat consecletur</p>
                <p>Lorem ipsum dolor sit ameat</p>
                <p>Lorem ipsum dolor sit</p>
                <p>Lorem ipsum dolor sit amet consecletur</p>
            </div>
        
            <div class="footer-right">
                <a href="#home" class="fa-solid fa-house"></a>
                <a href="#facebook" class="fa-brands fa-facebook-f"></a>
                <a href="#instagram" class="fa-brands fa-instagram"></a>
                <a href="#twitter" class="fa-brands fa-twitter"></a>
                <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
                <a href="#youtube" class="fa-brands fa-youtube"></a>
            </div>
        
        </footer>
        
        </html>



    
 