<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/detalleProducto.css" rel="stylesheet">
    <title>Detalle del producto</title>
</head>

<body>
    <header class="header">
        <div class="header-left">
            <div class="callcenter">
                <a href="#"><i class="fa-solid fa-headset"></i></a>
                <p class="telefono">301 2222222</p>
            </div>
            <div class="location">
                <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                <h2 class="texto-h2">texto h2</h2>
            </div>
        </div>
        <div>
            <a href="#default" class="logo">RoyalCar</a>
        </div>
        <div class="header-right">
            <a href="#home" class="fa-solid fa-house"></a>
            <a href="#facebook" class="fa-brands fa-facebook-f"></a>
            <a href="#instagram" class="fa-brands fa-instagram"></a>
            <a href="#twitter" class="fa-brands fa-twitter"></a>
            <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
            <a href="#youtube" class="fa-brands fa-youtube"></a>
        </div>
        <nav>

        </nav>
    </header>
    <section class="imagenfija">
        <div class="fondo">
            <img src="../images/fondo1.png" alt="foto de fondo">
        </div>
    </section>
    <section class="tituloproducto">
        <div class="titulo">
            <h3>McLaren</h3>
            <h3>P1</h3>
            <h3>2020</h3>
        </div>
    </section>
    <section class="imagenproducto">
        <div class="productoseleccionado">
            <img src="../images/detalleProducto/McLarenP1_1.jpg" alt="McLarenP1">
        </div>
    </section>
    <section class="carruselproducto">
        <div class="carrusel">
            <div class="next" id="botonizquirdo">
                <a href="#" class="left-arrow"><img src="../images/left-arrow.png" /></a>
            </div>
            <div class="product_1" id="imagen_0">
                <img src="../images/detalleProducto/McLarenP1_2.jpg" />
            </div>
            <div class="product_1" id="imagen_1">
                <img src="../images/detalleProducto/McLarenP1_3.jpg" />
            </div>
            <div class="product_1" id="imagen_2">
                <img src="../images/detalleProducto/McLarenP1_4.jpg" width="195" height="100" />
            </div>
            <div class="product_1" id="imagen_3">
                <img src="../images/detalleProducto/McLarenP1_5.jpg" />
            </div>
            <div class="product_1" id="imagen_4">
                <img src="../images/detalleProducto/McLarenP1_6.jpg" />
            </div>
            <div class="next" id="botonizquirdo">
                <a href="#" class="right-arrow"><img src="../images/right-arrow.png" /></a>
            </div>
        </div>
        </div>
        <div class="fondoprecio">
            <div class="precio"></div>
        </div>
    </section>
    <section class="especificaciones">
        <div class="tecnicas"></div>
    </section>
</body>
<footer class="footer">
    <div class="footer-left">
        <p>Lorem ipsum dolor sit ameat consecletur</p>
        <p>Lorem ipsum dolor sit ameat</p>
        <p>Lorem ipsum dolor sit</p>
        <p>Lorem ipsum dolor sit amet consecletur</p>
    </div>

    <div class="footer-right">
        <a href="#home" class="fa-solid fa-house"></a>
        <a href="#facebook" class="fa-brands fa-facebook-f"></a>
        <a href="#instagram" class="fa-brands fa-instagram"></a>
        <a href="#twitter" class="fa-brands fa-twitter"></a>
        <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
        <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>

</footer>

</html>