/* Colores */
/* #cb0e08 rojo */
/* rgb(46, 45, 45) gris */

* {
    box-sizing: border-box;
  }
  
  body {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: #fff;

  }
  a{
    text-decoration: none;
    color: white;
  }
  
  img {
    max-width: 100%;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
  }
  
  .carousel {
    position: relative;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    z-index: 0;
  }
  
  .carousel:focus {
    outline: 0.25rem solid hsl(220, 60%, 60%);
    outline-offset: 0.25rem;
  }
  
  .wrapper {
    position: relative;
    width: 100vw;
  }
  
  .wrapper::before,
  .wrapper::after {
    --size: 2rem;
    content: '';
    display: block;
    position: absolute;
    width: var(--size);
    height: 100%;
    top: 0;
    left: 0.5rem;
    padding: 0.25rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"><path d="M7 2 L2 5 L7 8" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    z-index: 10;
    pointer-events: none;
  }
  
  .wrapper::after {
    left: auto;
    right: 0.5rem;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"><path d="M2 2 L7 5 L2 8" /></svg>');
  }
  
  .slide {
    position: relative;
    flex: 1 0 100%;
    scroll-snap-align: center;

  }
  
  .slide a {
     position: absolute; 
    top: 0;
    width: 3rem;
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 0;
  }
  
  .slide a:last-of-type {
    top: 0;
    right: 0;
  }
  
  .carousel img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel__nav ul {
    margin-top: -3rem;
    display: flex;
    justify-content: center;
    align-items: center;
     position: relative; 
  }
  
  .carousel__nav a {
    display: grid;
    place-items: center;
    width: 2.75rem;
    height: 2.75rem;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 hsla(220, 20%, 20%, 0.5);
  }
  
  .carousel__nav a:hover {
    
  }
  .motor-busqueda {
    border: black 3px solid;
    color: white;
    font-size: 16px;
    background-color:  rgb(46, 45, 45);
    display: flex;
    border-radius: 50%;
    width: 100%;
    height:10vh;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
  }
  .busqueda {
    appearance:none;
    -webkit-appearance: none;
	-moz-appearance: none;
    border: none;
  }

  label.opciones {
    font-size: 16px;
   font-family:'Oswald', sans-serif;
  }
  .fa-search {
    background-color: rgb(46, 45, 45);
    border: solid 1px black;
    color:#cb0e08;
    font-size: 20px;
    width: 15%;
    position: absolute; 
  }
  .select {
    border: none;
    font-family: 'Oswald', sans-serif ;
  }

  .menu-navegacion {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    

  }
  .menu-navegacion  ul {
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 12px;
}

button.button-search {
   position: relative; 
  background-color: black;
  color: #fff;
  left: 7px;
  border: rgb(46, 45, 45) solid 1px;
  padding: 3px;
}
.fa-magnifying-glass {
  color: #cb0e08;
}
.servicios {
  border: green 3px solid;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}
.Comprar {
  /* border: yellow 3px solid; */
  padding: 10px;
  width: 50vw;
  height: 50vw;

}
.Vender {
  /* border: blue 3px solid; */
  padding: 10px;
  width: 50vw;
  height: 50vw;
}

.nosotros {
  font-size: 12px;
}