<%- include('partials/head' , { title: 'Inicio' , styles: [ 'home' , 'header' , 'footer' ]}) %>

  <body>

    <%- include('partials/header') %>

      <br>
      <br>
      <br>
      <br>

      <h2 class="nosotros2"> Página en mantenimiento
      </h2>

      <div class="descripcion-nosotros">

        <i class="fas fa-tools"></i>
        <p>Estamos trabajando arduamente en el desarrollo y mantenimiento de ésta sección, para brindarte una
          experiencia aún mejor.</p>
        <p>Pronto podrás disfrutar de nuevas funcionalidades.</p>
        <p>Te invitamos a explorar el resto de la aplicación mientras tanto.</p>
        <a href="/">RoyalCar</a>
      </div>

      <div class="banner">

        <a href="/"><img src="/images/banner.png" alt=""></a>
      </div>
      <%- include('partials/footer') %>
        </main>

        </html>