<%- include('partials/head' , { title: 'Crear producto' , styles: [ 'productCreate' ,'header' , 'footer' ]}) %>
    
<body>

  <%- include('partials/header') %>
  <br>
  <br>
  
    <div class="description-box">
      <br>
      <br>
      <p class="title">Informacion Nuevo Producto</p>
      <form action="/products" method="POST" enctype="multipart/form-data">
        <div class="data-box">
          <input required="" name="brand" type="text">
          <label>Marca</label>
        </div>
        <div class="data-box">
          <input required="" name="model" type="text">
          <label>Modelo</label>
        </div>
        <div class="data-box">
          <input required="" name="year" type="number">
          <label>Año</label>
        </div>
      
        <div class="data-box">
          <input required="" name="power" type="number">
          <label>Potencia(hp)</label>
        </div>
        <div class="data-box">
          <input required="" name="price" type="number">
          <label>Precio</label>
        </div>
        <div class="data-box">
          <input required="" name="color" type="text">
          <label>Color</label>
        </div>
         <p><i class="fa-regular fa-image"></i> Imagen</p>
        <div class="data-box">
          <input type="file" id="myfile" name="imgFile" class="inputfile" >
          <label></label>
        </div> 
      
       <input type="submit" class="submitBtn" value="Enviar">
      </form>

    </div>
    <%- include('partials/footer') %>

</body>

</html>
    