<%- include('partials/head' , { title: 'Inicio' , styles: [ 'home' , 'header' , 'footer' ]}) %>

  <body>

    <%- include('partials/header') %>

      <br>
      <br>
      <br>
      <br>

      <div class="slider">
        <ul>
          <li>
            <img src="/images/fondo.png" alt=""> 
          </li>
          <li>
            <img src="/images/murciélago.webp" alt="">
          </li> 
          <li>
            <img src="/images/bugatti.jpg" alt="">
          </li>
          <li>
            <img src="/images/lamborghini-.jpg" alt="">
          </li>
        </ul>

      </div>


      <!-- <div class="motor-busqueda">

    <form action=" " class="formulario">
      <div class="caja1form">
        <div class="form">
          <input class="input" placeholder="Marca" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja2form">
        <div class="form">
          <input class="input" placeholder="Modelo" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja3form">
        <div class="form">
          <input class="input" placeholder="Año" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="button-search">
        <button>
          Buscar
        </button>
      </div>
    </form>
  </div> -->


      <h2 class="nosotros"> Nuestros servicios</h2>
      <section class="servicios">
        <div class="card">
          <div class="card2">
           <a href="/products" class="card2">COMPRAR</a>
          </div>
        </div>

        <div class="card">
          <div class="card2"><a href="/construction" class="card2">ALQUILAR</a>
            
          </div>
        </div>

      </section>
      <h2 class="nosotros2"> Nosotros</h2>

      <div class="descripcion-nosotros">

        <p> Somos una exclusiva agencia boutique especializada en autos de lujo. Nos enorgullece ofrecer un servicio de
          asesoramiento personalizado, diseñado para satisfacer las necesidades únicas de cada cliente. Nuestro equipo
          profesional está comprometido en brindarte la mejor experiencia del consumidor,
          centrándose en la excelencia y la exclusividad. Ya sea que estés buscando comprar o alquilar un vehículo de primer nivel con prestaciones
            excepcionales, estamos aquí para ayudarte a encontrar la opción perfecta.</p>
      </div>

      <div class="banner">

        <img src="/images/banner.png" alt="">
      </div>
      <%- include('partials/footer') %>

        </main>

        </html>