
  <%- include('partials/head' , { title: 'Inicio' , styles: [ 'home' , 'header' , 'footer']}) %>
<body>

  <%- include('partials/header') %>

<br>
<br>
<br>
<br>

   <div class="slider">
    <ul>
      <li>
        <img src="/images/fondo.png" alt="">
      </li>
      <li>
        <img src="/images/lambo.jpg" alt="">
      </li>
      <li>
        <img src="/images/bugatti.jpg" alt="">
      </li>
      <li>
        <img src="/images/lamborghini-.jpg" alt="">
      </li>
    </ul>

   </div>


  <div class="motor-busqueda">

    <form action=" " class="formulario">
      <div class="caja1form">
        <div class="form">
          <input class="input" placeholder="Marca" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja2form">
        <div class="form">
          <input class="input" placeholder="Modelo" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja3form">
        <div class="form">
          <input class="input" placeholder="Año" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="button-search">
        <button>
          Buscar
        </button>
      </div>
    </form>
  </div>


  <h2 class="nosotros"> Nuestros servicios</h2>
  <section class="servicios">
    <div class="card">
      <div class="card2">
        COMPRAR
        <a href="/products"></a>
      </div>
    </div>

    <div class="card">
      <div class="card2">
        ALQUILAR
        <a href="#"></a>
      </div>
    </div>

  </section>
  <h2 class="nosotros2"> Nosotros</h2>

  <div class="descripcion-nosotros">

    <p> Somos una agencia boutique de autos de lujo, ofrecemos asesoramiento personalizado ajustado a cada cliente.
      Nuestro equipo profesional brinda la mejor experiencia del consumidor y exclusividad, para aquellas personas que
      están buscando comprar o alquilar un vehículo de primer nivel con buenas prestaciones.</p>
  </div>

  <div class="banner">

    <img src="/images/banner.png" alt="">
  </div>
  <%- include('partials/footer') %>

  </main>

</html>