
  <%- include('partials/head' , { title: 'Inicio' , styles: [ 'home' , 'header' , 'footer']}) %>
<body>

  <%- include('partials/header') %>

  <div class="wrapper">
    <div class="carousel" tabindex="0">
      <div class="slide">
        <a href="#item-4">Slide 4</a>
        <img id="item-1" src="/images/fondo.png" alt="">
        <a href="#item-2">Slide 2</a>
      </div>
      <div class="slide">
        <a href="#item-1">Slide 1</a>
        <img id="item-2" src="/images/lambo.jpg" alt="">
        <a href="#item-3">Slide 3</a>
      </div>
      <div class="slide">
        <a href="#item-2">Slide 2</a>
        <img id="item-3" src="/images/bugatti.jpg" alt="">
        <a href="#item-4">Slide 4</a>
      </div>
      <div class="slide">
        <a href="#item-3">Slide 3</a>
        <img id="item-4" src="/images/lamborghini-.jpg" alt="">
        <a href="#item-1">Slide 1</a>
      </div>
    </div>
    <nav class="carousel__nav">
      <ul>
        <li>
          <a href="#item-1" aria-label="Item 1">
            <svg viewBox="0 0 10 10" width="1em">
              <circle cx="5" cy="5" r="5" fill="#fff" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#item-2" aria-label="Item 2">
            <svg viewBox="0 0 10 10" width="1em">
              <circle cx="5" cy="5" r="5" fill="#fff" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#item-3" aria-label="Item 3">
            <svg viewBox="0 0 10 10" width="1em">
              <circle cx="5" cy="5" r="5" fill="#fff" />
            </svg>
          </a>
        </li>
        <li>
          <a href="#item-4" aria-label="Item 4">
            <svg viewBox="0 0 10 10" width="1em">
              <circle cx="5" cy="5" r="5" fill="#fff" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="motor-busqueda">

    <form action=" " class="formulario">
      <div class="caja1form">
        <div class="form">
          <input class="input" placeholder="Marca" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja2form">
        <div class="form">
          <input class="input" placeholder="Modelo" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="caja3form">
        <div class="form">
          <input class="input" placeholder="Año" required="" type="text">
          <span class="input-border"></span>
        </div>
      </div>
      <div class="button-search">
        <button>
          Buscar
        </button>
      </div>
    </form>
  </div>


  <h2 class="nosotros"> Nuestros servicios</h2>
  <section class="servicios">
    <div class="card">
      <div class="card2">
        COMPRAR
        <a href="#"></a>
      </div>
    </div>

    <div class="card">
      <div class="card2">
        RENTAR
        <a href="#"></a>
      </div>
    </div>

  </section>
  <h2 class="nosotros2"> Nosotros</h2>

  <div class="descripcion-nosotros">

    <p> Somos una agencia boutique de autos de lujo, ofrecemos asesoramiento personalizado ajustado a cada cliente.
      Nuestro equipo profesional brinda la mejor experiencia del consumidor y exclusividad, para aquellas personas que
      están buscando comprar o alquilar un vehículo de primer nivel con buenas prestaciones.</p>
  </div>

  <div class="banner">

    <img src="/images/banner.png" alt="">
  </div>
  <%- include('partials/footer') %>
  </main>

</html>