<%- include('partials/head' , { title: 'Detalle de producto' , styles: [ 'compra' , 'header' , 'footer' ]}) %>

    <body>

        <%- include('partials/header') %>
        <article>
            <img src="\images\image.lambo.jpg.jpg" alt="Auto" class="product_img">
            <div class="main-article">
              <i class="fa-solid fa-car"></i>
              <p class="price">$1.500.000,00.-</p>
              <h4 class="description">Lambo X (Descripción)</h4>
              <br>
              <p class="status">Agregar al carrito</p>
              <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
              </label>
            </div>
          </article>


    </body>

    <%- include('partials/footer') %>

        </html>