<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/productDetail.css" rel="stylesheet">
    <title>Detalle del producto</title>
</head>

<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <div class="header_1">
            <div class="header-left">
                <div class="callcenter">
                    <a href="#"><i class="fa-solid fa-headset"></i></a>
                    <h2 class="telefono">301 2222222</h2>
                </div>
                <div class="location">
                    <a href="#"><i class="fa-solid fa-location-dot"></i></a>
                    <h2 class="texto-h2">Buenos Aires</h2>
                </div>
            </div>
            <div class="contenedorlogo">
                <a href="#default" class="logo">RoyalCar</a>
            </div>
            <div class="header-right">
                <a href="#home" class="fa-solid fa-house"></a>
                <a href="#facebook" class="fa-brands fa-facebook-f"></a>
                <a href="#instagram" class="fa-brands fa-instagram"></a>
                <a href="#twitter" class="fa-brands fa-twitter"></a>
                <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
                <a href="#youtube" class="fa-brands fa-youtube"></a>
            </div>
        </div>
        <div class="header_2">
            <div class="logo_2">
                <img src="../images/logo.jpeg" alt="logo">
            </div>
            <div class="navbar">
                <a href="index.html" title="Home">Home</a>
                <a href="#facebook" class="">Renta</a>
                <a href="#instagram" class="">Compra</a>
                <a href="#twitter" class="">Vende</a>
                <a href="#linkedin" class="">Tienda</a>
                <a href="register.html" class="">Contáctanos</a>
                <a href="#youtube" class="">Nosotros</a>
            </div>
        </div>
    </header>


    <section class="producto"> <!--Este contenedor abarca desde header hasta footer-->
        <div class="imagenfija">
            <div class="fondo">
                <img src="../images/fondo1.png" alt="foto de fondo">
            </div>
        </div>
        <div class="tituloproducto">
            <div class="titulo">
                <h2>McLaren</h2>
                <h2>P1</h2>
                <h2>2020</h2>
            </div>
            <div class="imagenproducto">
                <img src="../images/detalleProducto/McLarenP1_1.jpg" alt="McLarenP1">
            </div>
        </div>


        <div class="carrusel">
            <!--<div class="next" id="botonizquierdo">
                    <a href="#" class="left-arrow"><img src="../images/left-arrow.png" /></a>
                </div>-->
            <div class="product_1" id="imagen_0">
                <img src="../images/detalleProducto/McLarenP1_2.jpg" />
                <img src="../images/detalleProducto/McLarenP1_3.jpg" />
                <img src="../images/detalleProducto/McLarenP1_4.jpg" width="195" height="100" />
                <img src="../images/detalleProducto/McLarenP1_5.jpg" />
                <img src="../images/detalleProducto/McLarenP1_6.jpg" />
            </div>
            <!--<div class="next" id="botonderecho">
                    <a href="#" class="right-arrow"><img src="../images/right-arrow.png" /></a>
                </div>-->
        </div>

        <div class="fondoprecio">
            <div class="precio">
                <div class="boton" id="preciop1">
                    <h3>$ 3.825.000</h3>
                </div>
            </div>
        </div>

        <div class="especificaciones">
            <div class="tecnicas">
                <table class="tabla">
                    <th>Prestaciones y consumos homologados</th>
                    <tr>
                        <td>Velocidad máxima</td>
                        <td>350 km/h</td>
                    </tr>
                    <tr>
                        <td>Aceleración 0-100 km/h</td>
                        <td>2,8 s</td>
                    </tr>
                    <tr>
                        <td>Consumo NEDC medio</td>
                        <td>8,3 l/100 km</td>
                    </tr>
                    <tr>
                        <td>Autonomía eléctrica NEDC</td>
                        <td>20 km</td>
                    </tr>
                    <tr>
                        <td>Emisiones de CO₂ NEDC</td>
                        <td>194 gr/km</td>
                    </tr>
                    <tr>
                        <td>Normativa de emisiones</td>
                        <td>No disponible</td>
                    </tr>
                    <tr>
                        <td>Distintivo ambiental DGT</td>
                        <td>ECO</td>
                    </tr>
                    <th>Dimensiones, peso, capacidades</th>
                    <tr>
                        <td>Tipo de Carrocería</td>
                        <td>Coupé</td>
                    </tr>
                    <tr>
                        <td>Número de puertas</td>
                        <td>2</td>
                    </tr>
                    <th>Resumen del sistema de propulsión</th>
                    <tr>
                        <td>Potencia máxima</td>
                        <td>916 CV / 674 kW</td>
                    </tr>
                    <tr>
                        <td>Par máximo</td>
                        <td>900 Nm</td>
                    </tr>
                    <tr>
                        <td>Combustible</td>
                        <td>Gasolina</td>
                    </tr>
                    <tr>
                        <td>Revoluciones potencia máxima</td>
                        <td>7.500 rpm</td>
                    </tr>
                    <tr>
                        <td>Número de cilindros</td>
                        <td>8</td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>


<footer class="footer">
    <div class="footer-description">
        <p>Descripción de los métodos de pago</p>
        <p>Lorem ipsum dolor sit ameat</p>
        <p>Descripción ubicación (dirección)</p>
    </div>

    <div class="footer-redes">
        <a href="#home" class="fa-solid fa-house"></a>
        <a href="#facebook" class="fa-brands fa-facebook-f"></a>
        <a href="#instagram" class="fa-brands fa-instagram"></a>
        <a href="#twitter" class="fa-brands fa-twitter"></a>
        <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
        <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>

    <div class="derechosAutor">
        <p>@Lorem ipsum dolor sit ameat</p>
    </div>
</footer>

</html>