<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link href="/css/registro-login.css" rel="stylesheet">
    <link href="/css/compra.css" rel="stylesheet">
    <title>Producto Compra</title>
</head>
<body>

    <header class="header">
        <div class="header-left">
          <div class="callcenter">
            <a href="#"><i class="fa-solid fa-headset"></i></a>
            <p class="telefono">301 2222222</p>
          </div>
          <div class="location">
            <a href="#"><i class="fa-solid fa-location-dot" ></i></a>
            <h2 class="texto-h2">texto h2</h2>
          </div> 
          
        </div>
        <div>
          <a href="#default" class="logo">RoyalCar</a>
        </div>  
        
          <div class="header-right">
            <a href="#home"><i class="fa-solid fa-house"></i></a>
            <a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
            <a href="#twitter"><i class="fa-brands fa-twitter"></i></a>
            <a href="#linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="#youtube"><i class="fa-brands fa-youtube"></i></a>
  
           </div>
       
          </header>

<main>
<br>
<section class="product-cart">
<br>
<br>
<br>
<h3>Nuestros Autos</h3>
<br>
<div class="products">
<article>
<img src="images\image.ferrari.jpg.webp" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i></i>
<p class="price">$1.000.000,00.-</p>
<h4 class="description">Ferrari X (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>
</article>
<article>
<img src="images\image.lambo.jpg.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$1.500.000,00.-</p>
<h4 class="description">Lambo X (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>
</div>
</article>
<article>
<img src="images\image.mercedes.jpg.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$2.000.000,00.-</p>
<h4 class="description">Mercedes X (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>
</div>
</article>
<article>
<img src="images\image.tesla.jpg.jpeg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$1.850.000,00.-</p>
<h4 class="description">Tesla X (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>

</article>
<article>
<img src="images\image.teslaRoad.jpg.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$3.900.000,00.-</p>
<h4 class="description">Tesla Road (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>




</article>
<article>
<img src="images\image.porshe911.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$2.000.000,00.-</p>
<h4 class="description">Porshe 911 (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>

</article>
<article>
<img src="images\image.ferrariSpider.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$2.950.000,00.-</p>
<h4 class="description">Ferrari Spider X (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>

</article>
<article>
<img src="images\image.astonDBS.jpg" alt="Auto" class="product_img">
<div class="main-article">
<i class="fa-solid fa-car"></i>
<p class="price">$2.750.000,00.-</p>
<h4 class="description">Aston Martin DBS (Descripción)</h4>
<br>
<p class="status">Agregar al carrito</p>
<label class="switch">
    <input type="checkbox">
    <span class="slider"></span>
  </label>

</div>











</article>
</div>
</section>
<br>

  <button>
    <span class="button_top"> ¡Ir al Carrito!
    </span>
  </button>


  





</main>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
<footer class="footer">
    <div class="footer-left">
      <p>Lorem ipsum dolor sit ameat consecletur</p>
      <p>Lorem ipsum dolor sit ameat</p>
      <p>Lorem ipsum dolor sit</p>
      <p>Lorem ipsum dolor sit amet consecletur</p>
    </div>

    <div class="footer-right">
        <a href="#home"><i class="fa-solid fa-house"></i></a>
        <a href="#facebook"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="#twitter"><i class="fa-brands fa-twitter"></i></a>
        <a href="#linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="#youtube"><i class="fa-brands fa-youtube"></i></a>

    </div>

  </footer>


</html>

