<%- include('partials/head' , { title: 'Detalle de producto' , styles: [ 'productDetail' , 'header' , 'footer' ]}) %>

    <body>

        <%- include('partials/header') %>
            <br>
            <br>
            <br>


            <section class="producto">
                <div class="tituloproducto">
                    <div class="titulo">
                        <h2>McLaren</h2>
                        <h2>P1</h2>
                        <h2>2020</h2>
                    </div>
                    <div class="imagenproducto">
                        <img src="../images/products/McLarenP1_1.jpg" alt="McLarenP1">
                    </div>
                </div>

                </div>

                <div class="fondoprecio">
                    <div class="precio">
                        <div class="boton" id="preciop1">
                            <h3>$ 3.825.000</h3>
                        </div>
                    </div>
                </div>

                <div class="especificaciones">
                    <div class="tecnicas">
                        <table class="tabla">
                            <th>Detalles del vehiculo </th>
                            <tr>
                                <td>Marca</td>
                                <td>350 km/h</td>
                            </tr>
                            <tr>
                                <td>Modelo</td>
                                <td>2,8 s</td>
                            </tr>
                            <tr>
                                <td>Año</td>
                                <td>8,3 l/100 km</td>
                            </tr>
                            <tr>
                                <td>Potencia</td>
                                <td>20 km</td>
                            </tr>
                            <tr>
                                <td>Color</td>
                                <td>194 gr/km</td>
                            </tr>
                            <tr>


                    </div>
                </div>
            </section>
    </body>

    <%- include('partials/footer') %>

    </html>