<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto&family=Sofia+Sans+Semi+Condensed:ital,wght@1,200&display=swap"
        rel="stylesheet">
    <link href="/css/estiloprueba.css" rel="stylesheet">
    <title>Prueba partials</title>
</head>

<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

        <div class="info-menu">
            <a href="#"><i class="fa-solid fa-headset"></i></a>
            <a href="#"><i class="fa-solid fa-location-dot"></i></a>
        </div>

        <div class="logo-title">
            <div class="title">
                <a href="#default" class="">RoyalCar</a>
            </div>
            <div class="logo">
                <img src="../images/logo.svg" alt="logo">
            </div>
        </div>

        <div class="social-menu">
            <a href="#home" class="fa-solid fa-house"></a>
            <a href="#facebook" class="fa-brands fa-facebook-f"></a>
            <a href="#instagram" class="fa-brands fa-instagram"></a>
            <a href="#twitter" class="fa-brands fa-twitter"></a>
            <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
            <a href="#youtube" class="fa-brands fa-youtube"></a>
        </div>
    </header>

    <div class="nav-bar">
        <ul class="nav">
            <li><a href="/src/views/index.ejs" class="index">Home</a></li>
            <li><a href="/src/views/productDetail.ejs" class="">Renta</a></li>
            <li><a href="/src/views/productDetail.ejs" class="">Compra</a></li>
            <li><a href="/src/views/productCart.ejs" class="">Tienda</a></li>
            <li><a href="/src/views/login.ejs" class="">Contáctanos</a></li>
            <li><a href="" class="">Nosotros</a></li>
        </ul>
    </div>
    <br><br>
    <div class="button-effect"></div>
    <button class="button neumorphic-shadows neumorphic-shadows-hover">Neumorphic</button>
</body>

</html>