<%- include('partials/head' , { title: 'Registro' , styles: [ 'registro-login' , 'header' , 'footer' ]}) %>

  <body>
    <%- include('partials/header') %>
      <div class="signupFrm">
        <form action="/users/register" class="form" method="POST" enctype="multipart/form-data">
          <h1 class="title">Regístrate</h1>

          <div class="inputContainer">
            <input type="text" class="input" name="name" placeholder="a">
            <label for="" name="name" class="label">Nombre</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name="last_name" placeholder="a">
            <label for="" name="last_name" class="label">Apellido</label>
          </div>
          <div class="inputContainer">
            <input type="email" class="input" name="email" placeholder="ejemplo@gmil.com">
            <label for="" name="email" class="label">Email</label>
          </div>
          <div class="inputContainer">
            <div class="input">
               <input type="file" name="usersImage" id="Perfil"  style="display:none"> 
              <label class="label" for="Perfil">Seleccion Imagen De Perfil</label>
            </div>
          </div>
          <div class="inputContainer">
            <select class="input" name="category">
              <option class="label" name="category" value="Categoria" font-family="oswald">Categoria</option>
              <option class="label" name="category" value="usuario">Usuario</option>
              <option class="label" name="category" value="administrador">Administrador</option>
            </select>
          </div>
          <div class="inputContainer">
            <input type="password" name="password" class="input" placeholder="a" minlength="6" required>
            <label for="" class="label">Contraseña</label>
          </div>
          <div class="inputContainer">
            <input type="password" name="confirm_password" class="input" placeholder="a" minlength="6" required>
            <label for="" class="label">Confirmar Contraseña</label>
          </div>


          <p>Al registrarte, aceptas nuestras Condiciones de uso y Politicas de Privacidad</p>
          <p>¿Ya tienes una cuenta? <a href="/login" style="color:red;">Inicia Sesion</a></p>
          <input type="submit" class="submitBtn" value="Continuar">
        </form>
      </div>
      <%- include('partials/footer') %>
  </body>


  </html>