body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
  }
.header {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: fixed;
    z-index: 50;
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    color: #cb0e08;
    font-style: italic;
    width: 100%;
  }
  
  .header a:hover {
    background-color: #cb0e08;
    color: white;
    transform: translateY(-2px);
  }
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .header-left {
    float: left;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .telefono {
    color: white;
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    width: 8vw;
  }
  
  .callcenter {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }
  
  .location {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }
  
  .texto-h2 {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 9vw;
  }
  
  .header-right {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    border-radius: 4px;
    display: none;
    align-items: center;
    justify-content: space-between;
  }
  .contenedorlogo {
   width: 100%;
  }
  
  .header_1 {
    width: 100%;
    
  }
  
  .header_2 {
    width: 100%;
    background-color: #000000;
    
  }
  
  .logo_2 {
    width: 5vw;
    height: 100%;
  }
  
  
  .navbar {
    width: 100%;
   display: flex;
  }
  .navbar a {
    width: 25%;
    font-size: 13px;
    display: flex;
  }
  .add i {
   position: relative;
   top:10%;
   right:5%
  }
  .nav-profile{
    display: flex;
  }
  .nav-profile-1{
    display: flex;
  }
  .nav-profile-1 img {
    display: flex;
  }
  .nav-profile-1 span {
    display: none;
  }
  #logout {
    display: none;
  }
  .fa-plus {
    display: inline-block;
  }
  
@media (min-width: 481px){
    .header{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .header_1{
      display: flex;
      justify-content: space-between;
    }
    .header-left{
      width: 33%;
    }
    .contenedorlogo{
      width: 38%;
    }
    .header-right{
      display: flex;
      width: 38%;
      justify-content: flex-end;
    }
    .navbar{
    
    }
    .navbar a {
      width: 20%;
      font-size: 22px;
    }
    .nav-profile-1 img {
      display: flex;
    }
    .nav-profile-1 span {
      display: flex;
    }
    #logout {
      display: inline-block;
    }
  }
  
    