* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slider ul {
  display: flex;
  animation: cambio 15s infinite alternate linear;
  width: 400%;
}

.slider li {
  width: 100%;
  list-style: none;
}

.slider img {
  width: 100%;
  height: 100%;
}

@keyframes cambio {
  0% { margin-left: 0;}
  20% { margin-left: 0;}

  25% { margin-left: -100%;}
  45% { margin-left: -100%;}

  50% { margin-left: -200%;}
  70% { margin-left: -200%;}

  75% { margin-left: -300%;}
  100% { margin-left: -300%;}

}

/* .motor-busqueda {
  border: black 1px solid;
  color: white;
  font-size: 12px;
  background-color: black;
  width: 90vw;
  
  position: relative;
  margin: auto;
  margin-top: 30px;
  padding-left: 30px;
  border-radius: 20px 20px 20px 20px;
}

.formulario {
  text-align: center;
  width: 100%;
  height: 100%;
}

.caja1form,
.caja2form,
.caja3form {
  width: 90%;
 
  margin-top: 5px;
}

.button-search {
  width: 100%;
  margin: 6px
} */

button {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
  color: #cb0e08;
  padding: 0px 5px;
  border-radius: 10px;
  border: 2px solid #FAFAFA;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  margin: 2px;
  margin-right: 25px;

}

.form {
  --width-of-input: 100%;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: red;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
  font-family: 'Oswald', sans-serif;
}

.input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

input:hover {
  background: var(--input-hovered-color);
}

input:focus {
  outline: none;
}

input:focus~.input-border {
  width: 100%;
}


button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}


.card {
  width: 90%;
  height: 154px;
  margin: 15px;
  padding: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(163deg, #74706e 0%, #cf0b0b 70%);
  border-radius: 20px;
  transition: all .3s;
}

.card2 {
  width: 100%;
  height: 134px;
  background: black;
  border-radius: 20px;
  transition: all .2s;
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
  text-decoration-color: #cb0e08;
}

.card2:hover {
  transform: scale(1.1);
  border-radius: 20px;
}


.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.servicios {
  margin-bottom: 10px;
  display: block;
  text-align: center;
  margin: auto;
  padding-left: 10px;

}

h2.nosotros {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
  margin: auto;
  text-align: center;
  text-transform: capitalize;
}

.nosotros2 {
  display: none;


}

.banner,
.descripcion-nosotros {
  display: none;
}


/* Tablet */
@media (min-width: 481px) {
  .navbar a {
    font-size: 3.2vh;
  }

  /* .motor-busqueda {
    border: black 1px solid;
    color: white;
    font-size: 16px;
    background-color: hsl(220deg 1% 3%);
    display: flex;
    flex-direction: row;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }

   .formulario {
    display: flex;
    justify-content: space-between;
  }

  .caja1form,
  .caja2form,
  .caja3form {
    width: 25%;
    height: 10%;
   }

  .button-search {
    width: 15%;
  } */

  button {
    /* position: absolute; */
    top: 40px;
    right: 5px;
    font-size: 20px;

  }

  h2.nosotros {
    font-size: 60px;
    padding: 10px;
    margin: auto;
    text-align: center;
    font-weight: bold;
  }


  .card,
  .card2 {

    height: 145px;
    text-align: center;
    margin: auto;
    font-size: 70px;
    width: 40vw;

  }

  .card2 {
    padding-top: 20px;
  }

  .nosotros2 {
    display: block;
    font-size: 60px;
    padding: 10px;
    padding-top: 70px;
    margin-top: 20px;
    margin: auto;
    text-align: center;
    font-weight: bold;

  }

  .servicios {
    display: flex;
    justify-content: space-around;

  }

  .descripcion-nosotros {
    display: block;
    width: 80vw;
    text-align: center;
    padding: 25px;
    margin: auto;
    font-size: 40px;
    color: #1a1a1a;
  }

  .banner {
    width: 100vw;
    display: block;
    height: 100%;
    margin-bottom: -5px;
  }

  img {
    height: 100%;
  }
}


/* Desktop */
@media (min-width: 1024px) {


  .input {
    font-size: 20px;

  }

  button {
    font-size: 30px;
  }

  h2.nosotros {
    font-size: 70px;
    padding: 30px;
    margin: auto;
    text-align: center;
  }

  h3 {
    background-color: white;
    color: #cb0e08;
    font-size: 40px;
    width: 30vw;
    text-align: center;

  }


}