
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "oswald", sans-serif;
  width: 100%;
}

.description-box {
  position: relative;
  right: -50%;
  width: 80vw;
  padding: 40px;
  margin-top: 50vh;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.description-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.description-box .data-box {
  position: relative;
}

.description-box .data-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.description-box .data-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.description-box .data-box input:focus ~ label,
.description-box .data-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.description-box form a {
  position: relative;
  display: block;
  width: 50%;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px
}

.description-box a:hover {
  background: #eb2222;
  color: #272727;
  border-radius: 5px;
}

.description-box a span {
  position: absolute;
  display: block;
}

.description-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.description-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1.5s linear infinite;
  animation-delay: .375s
}
button{
  all: unset;
  text-decoration: none;
  outline:none;
  color: #fff;
  }

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,100% {
    top: 100%;
  }
}

.description-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1.5s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,100% {
    right: 100%;
  }
}

.description-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1.5s linear infinite;
  animation-delay: 1.125s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,100% {
    bottom: 100%;
  }
}

.description-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.description-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.description-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
 p {
  font-size: 16px;
  color: #fff;
  text-align: start;
}
.title {
  font-size: 24px;
  align-items: center;
  color:#cb0e08 ;
}

@media (min-width : 1024px){
  .description-box {
    margin-top: 70vh;
    }
    .title {
      font-size: 40px;
    
    }
    .description-box .data-box label ,
    .description-box .data-box input ,
    p {
      font-size: 26px;
    }
    .description-box form a {
      width: 20%;
      height: 30%;
    }
    
    

}


