
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "oswald", sans-serif;
  width: 100%;
}

.description-box {
  position: relative;
  right: -50%;
  width: 80vw;
  padding: 40px;
  margin-top: 140%;
  transform: translate(-50%, -55%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.description-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.description-box .data-box {
  position: relative;
}

.description-box .data-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.description-box .data-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.description-box .data-box input:focus ~ label,
.description-box .data-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}
button{
  all: unset;
  text-decoration: none;
  outline:none;
  color: #fff;
  }
  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 10px 30px;
    width: 20%;
    height: 10%;
    border: none;
    background-color: black;
    color: #cb0e08;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 30px;
    margin-right : auto
  }
  
  .submitBtn:hover {
    transform: translateY(-2px)
  }

.description-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.description-box .buttoms.a2 {
  color: #fff;
  text-decoration: none;
}

.description-box .buttoms.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}
 p {
  font-size: 16px;
  color: #fff;
  text-align: start;
}
.title {
  font-size: 24px;
  align-items: center;
  color:#cb0e08 ;
}
@media (min-width : 768px) {
.description-box {
  margin-top: 80%;
}
}

@media (min-width : 1024px){
  .description-box {
    margin-top: 70vh;
    }
    .title {
      font-size: 40px;
    
    }
    .description-box .data-box label ,
    .description-box .data-box input ,
    p {
      font-size: 26px;
    }
    .description-box form .buttoms {
      width: 20%;
      height: 30%;
    }
    
    

}


