<footer class="footer">
    <div class="footer-left">
      <p>Exclusividad</p>
      <p>Sofisticación</p>
      <p>Prestigio</p>
      <p>Personalización</p>
    </div>

    <div class="footer-right">
      <a href="#home" class="fa-solid fa-house"></a>
      <a href="#facebook" class="fa-brands fa-facebook-f"></a>
      <a href="#instagram" class="fa-brands fa-instagram"></a>
      <a href="#twitter" class="fa-brands fa-twitter"></a>
      <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
      <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>

  </footer>