<footer class="footer">
    <div class="footer-left">
      <p class="p-footer">Los mejores autos del pais</p>
      <p class="p-footer">Sueña en grande</p>
      <p class="p-footer">Imagina lo inimaginable</p>
      <p class="p-footer">Un coche para cada persona</p>
    </div>

    <div class="footer-right">
      <a href="#home" class="fa-solid fa-house"></a>
      <a href="#facebook" class="fa-brands fa-facebook-f"></a>
      <a href="#instagram" class="fa-brands fa-instagram"></a>
      <a href="#twitter" class="fa-brands fa-twitter"></a>
      <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
      <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>

  </footer>