<header class="header">
  <div class="header_1">
    <div class="header-left">
      <div class="callcenter">
        <a href="#"><i class="fa-solid fa-headset"></i></a>
        <h2 class="telefono">301 2222222</h2>
      </div>
      <div class="location">
        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
        <h2 class="texto-h2">Buenos Aires</h2>
      </div>
    </div>
    <div class="contenedorlogo">
      <a href="/" class="logo">RoyalCar</a>
    </div>
    <div class="header-right">
      <a href="/" class="fa-solid fa-house"></a>
      <a href="#facebook" class="fa-brands fa-facebook-f"></a>
      <a href="#instagram" class="fa-brands fa-instagram"></a>
      <a href="#twitter" class="fa-brands fa-twitter"></a>
      <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
      <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>
  </div>


  <div class="header_2">
    
    <div class="navbar">
      <a href="/" title="Home">Inicio</a>
      <a href="/products" class="">Alquilar</a>
      <a href="/products" class="">Comprar</a>
      <% if (locals.isLogged && locals.userLogged.roles_id== 1 ) { %>
        <a href="/products/create" class="">Agregar Producto</a>

      <% }else { %>
          <a href="/contact" class="">Contáctanos</a>

      <% } %>
      
     




      <% if (locals.isLogged) { %>
       
          <a class="nav-profile-1" href="/users/profile" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/users/<%=locals.userLogged.avatar %>" width="45" style="border-radius: 100%;">
            Hi <%=locals.userLogged.name %> 
          </a>
         
          
          <% } else {%>
            <a href="/users/login" class="">Ingresar <i class="fa fa-sign-out" id="logout" aria-hidden="true"></i></a>
      <% } %>
    </div>
  </div>
</header>