<header class="header">
  <div class="header_1">
    <div class="header-left">
      <div class="callcenter">
        <a href="#"><i class="fa-solid fa-headset"></i></a>
        <h2 class="telefono">301 2222222</h2>
      </div>
      <div class="location">
        <a href="#"><i class="fa-solid fa-location-dot"></i></a>
        <h2 class="texto-h2">Buenos Aires</h2>
      </div>
    </div>
    <div class="contenedorlogo">
      <a href="/" class="logo">RoyalCar</a>
    </div>
    <div class="header-right">
      <a href="#home" class="fa-solid fa-house"></a>
      <a href="#facebook" class="fa-brands fa-facebook-f"></a>
      <a href="#instagram" class="fa-brands fa-instagram"></a>
      <a href="#twitter" class="fa-brands fa-twitter"></a>
      <a href="#linkedin" class="fa-brands fa-linkedin-in"></a>
      <a href="#youtube" class="fa-brands fa-youtube"></a>
    </div>
  </div>


  <div class="header_2">
    <!-- <div class="logo_2">
            <img src="../images/logo.png" alt="logo">
        </div> -->
    <div class="navbar">
      <a href="/" title="Home">Home</a>
      <a href="/products" class="">Alquilar</a>
      <a href="/products" class="">Comprar</a>

      <a href="/products" class="">Contáctanos</a>
      <a href="/users/login" class="">Ingresar</a>
    </div>
  </div>
</header>